body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
form{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 900;
}
ul{
  padding-left: 0px;
  list-style-type: none;
}
li>a{
  display: block;
  padding: 10px 15px;
}
/* 헤더 */
header{
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A1816;
}
header input {
  background-color: #0A1816;
  border: 1px solid grey;
  height: 20px;
}
header i {
  color: white;
  font-size: 20px;
  padding-left: 15px;
}
header img{
  transition: all 0.3s ease;
  display: block;
  margin: 10px auto 0px auto;
  width: 100px;
  height: 100px;
}
header img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px gray;
}
header>ul{
  display: flex;
}
header a{
  color: white;
}
header>ul>li{
  font-size: 20px;
}
header>ul>li>a:hover{
  color: gray;
}
/* 메뉴 */
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#navmenu{
  width: 50%;
}
nav>ul{
  position: relative;
  top: 16px;
  z-index: 2;
  /* relative해서 제일 위에*/
}
nav>ul>li{
  border-bottom: 2px solid white;
  display: inline-block;
}
.submenu{
  background-color: white;
  position: absolute;
  display: none;
  margin-top: 2px;
}
.submenu > a{
  display: block;
  padding: 10px 15px;
}
.submenu > a:hover{
  color: rgb(8, 89, 196);
}
li:hover .submenu{
  display: block;
}
li.member{
  font-size: 13px;
  margin-right: 10px;
  padding: 0px;
}
li.member>a{
  border: 2px solid rgb(0, 55, 128);
  border-radius: 50px;
  color: rgb(0, 55, 128);
}
li.member>a:hover{
  color: rgb(197, 5, 5);
  border: 2px solid rgb(197, 5, 5);
}
nav li.menu:hover {
  border-bottom: 2px solid rgb(0, 55, 128);
}
/* 섹션 */
section{
  height: 65%;
  border-bottom: 2px solid rgb(194, 194, 194);
  border-top: 2px solid rgb(194, 194, 194);
} 

/* 회전목마 */
/* 사진 css */
div.slideshow{
  background-color: black;
  height: 465px;
  min-width: 960px;
  position: relative;
  display: block;
}
div.slideshow_slides{
  position: absolute;
  width: 100%;
  height: 100%;
}
div.slideshow_slides > a{
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* nav css */
div.slideshow_nav a{
  position: absolute;
  color: aliceblue;
  font-size: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
div.slideshow_nav a.prev{
  margin-left: -512px;
}
div.slideshow_nav a.next{
  margin-left: 482px;
}
/* 인디케이터 css */
div.indicator{
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 10px;
}
div.indicator a {
  display: inline-block;
  font-size: 24px;
  color: aliceblue;
  padding: 0 5px;
  opacity: 0.4;
}
div.indicator a.active{
  color: yellow;
}
#login{
  display: none;
}
#signin{
  display: none;
}
#board{
  display: none;
}
/* 로그인, 회원가입 */
#memberObject{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 푸터 */
footer{
  font-size: 14px;
  background-color: #0A1816;
}
footer > div:nth-child(1){
  padding: 10px 100px;
  border-bottom: 1px solid white;
}
footer a{
  padding-right: 20px;
  color: white;
}
footer a:hover{
  color: grey;
}
footer p{
  padding: 10px 100px;
  color: gray;
}